<!DOCTYPE html>
<html>
  <head>
    <title>FirstApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <a href= "<%= pages_two_path %>"> link hacia --> two </a>
  <a href= "<%= pages_one_path %>"> <br >link hacia --> one </a>
  <a href= "<%= pages_three_path %>"> <br >link hacia --> three </a>
    
    <%= yield %>
  </body>
</html>
