<!DOCTYPE html>
<html>
  <head>
    <title>FirstApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <header>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#">Hidden brand</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    <li class="nav-item active">
        <a href= "<%= pages_one_path %>"> link hacia --> one </a>
    </li>
    <li class="nav-item">
        <a href= "<%= pages_two_path %>"> link hacia --> two </a>
    </li>
    <li class="nav-item">
        <a href= "<%= pages_three_path %>">link hacia --> three </a>
    </li>
    </ul>
</div>
</nav>
</header>

    
    <%= yield %>
  </body>
</html>
